/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282c34;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.navbar-logo a {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--sea-water);
    cursor: pointer;
  }
}

/* Menu Items */
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: var(--sea-water);
}

/* Button Group */
.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.navbar-buttons .btn {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;

  &:hover {
    color: var(--sea-water);
  }
}

/* Hamburger Menu Button */
.navbar-hamburger {
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-hamburger {
    display: block;
  }

  .navbar-menu {
    display: none; /* Hide menu on smaller screens */
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-menu li {
    margin: 1rem 0;
    text-align: center;
  }

  .navbar-buttons {
    display: none;
  }
}
