/*
COLORS:

Color Palette: 4280
#d0c3bd
#dcdcdd
#69849b
#3d6a66
#1d2424

Color Palette:4275
#253532
#517f83
#9e8d77
#583d34
#1f1b17

Color Palette: 4272
#cd9562
#cdb5b4
#007f85
#002018
#0f3500

*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

:root {
  --dark-blue: #1b242f;
  --white: #faf9f9;
  --light-grey: #f5f5f5;
  --light-beige: #fefaf0;
  --sea-water: #69849b;
  --light-blue: #bcd2ee;
  --dusty-green: #3d6a66;
  --purple:  rgba(147, 111, 213, 0.801);
  --shining-green: rgba(40, 180, 133, 0.801);
  --yellow: #eead0e;
  --light-yellow: #f4cc68;
  --bg-gradient-to-right: linear-gradient(
    to right,
    var(--shining-green),
    var(--purple)
  );

  --large-font: 2rem;
  --medium-font: 1.5rem;
  --regular-font: 1rem;
  --small-font: 0.8rem;
  --large-size: 3rem;

  --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --box-shadow-mobile-menu: 2px 0px 1px -1px rgba(0, 0, 0, 0.2),
    1px 0px 1px 0px rgba(0, 0, 0, 0.14), 1px 0px 3px 0px rgba(0, 0, 0, 0.12);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--dark-blue);
  padding: 3rem;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
}

/*++++++++++++++HEADER++++++++++*/

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(0deg);
  }

  80% {
    transfrom: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transfrom: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(147, 111, 213, 0.801),
    rgba(40, 180, 133, 0.801)
  );
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;
}

.heading-primary--main1 {
  display: block;
  /* font-size: 0.5rem; */
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary--main2 {
  display: block;
  /* font-size: 4rem; */
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: 1s ease-out;
}

.heading-primary--sub {
  color: white;
  display: block;
  /* font-size: 3rem; */
  font-weight: 500;
  letter-spacing: 1.75rem;
}

/*+++++++++++TYPEWRITER++++++++++++++*/

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typewriter {
  height: 2vw;
  margin: 8vh;
  border-right: 0.15em solid white;
  white-space: nowrap;
  letter-spacing: 0.1vw;
  animation: blink-caret 0.9s step-end infinite;
}

/*+++++PORTFOLIO KEYFRAMES+++++++*/
@keyframes fly-in-from-right {
  0% {
    opacity: 0;
    translate: 100% 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

/*+++++++++ICONS+++++++*/

.icons-container {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid var(--white);
  border-radius: 50%;
  margin: 1rem;
  padding: 1rem;
  transition: all 0.3s ease 0s;
  color: white;
}

.icon:hover {
  border: 0.5px solid var(--sea-water);
  background-color: var(--sea-water);
  color: white;
  cursor: pointer;
}

/*+++++++++GENERAL+++++++++++*/

.section-container {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 1.875rem 0;
}

.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.section-title {
  color: var(--dark-blue);
  position: relative;
  font-weight: bold;
  padding: 0.5rem;
  display: flex;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-bottom: 1rem;
}

.section-title::after {
  position: absolute;
  content: "";
  background-color: var(--dark-blue);
  bottom: -1vh;
  transition: all 0.4s ease-in-out;
}

.section-title:hover {
  color: var(--sea-water);
  cursor: pointer;
}

.section-title:hover::after {
  width: 100%;
  left: 0;
}

.intro {
  display: flex;
  text-align: left;
  font-weight: 600;
  margin: 0 auto;
}

.profile {
  padding: var(--large-size);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.profile img {
  border: 0.063rem solid;
  border-radius: 50%;
  width: 30%;
  height: 30%;
}

/*+++++++++++++++HOME+++++++++++++++++*/

.home {
  background-color: white;
  margin-top: 30px;
}

.menu-button-container {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  text-align: center;
}

.menu-button-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0;
  gap: 1rem;
  list-style: none;
}

.menu-button-container li a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  list-style: none;
  font-size: var(--medium-font);
  line-height: 1;
  letter-spacing: 2px;
  background-color: var(--dark-blue);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 1rem 2rem;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    border: 0.5px solid var(--sea-water);
    background-color: var(--sea-water);
    cursor: pointer;
  }
}

.about-me {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: min(100%, 480px);
  margin: 0 auto;
  background-color: var(--light-beige);
  border-style: solid;
  border-radius: 20px;
  border-width: 1px 5px 5px 1px;
  border-color: var(--dark-blue);
}

/*++++++++++SKILLS************/

.skills-page {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: min(100%, 1040px);
  margin: 0 auto;
  border-radius: 4px;
}

.skills-container {
  background-color: var(--light-beige);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem;
  margin-bottom: 3rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Container for the side-by-side sections */
.side-by-side-sections {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.skill-section {
  flex: 1;
  min-width: 0;
  padding-bottom: 5rem;
}

.sub-section-title {
  position: relative;
  width: 100%;
  overflow: clip;
  padding-top: 20px;
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark-blue);
  margin-bottom: 1rem;
  cursor: default;
}

.sub-section-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  margin-left: 12rem;
  background: var(--bg-gradient-to-right);
}

.sub-section-title::first-letter,
.project-title::first-letter {
  font-size: var(--large-font);
  font-weight: 900;
  color: var(--yellow);
  padding-right: 2px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.625rem;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  background: transparent;
  border: 1px solid var(--yellow);
  border-radius: 32px;
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: scale(1.05);
  background: var(--light-yellow);
}

.skill-icon {
  width: 30px;
  height: 30px;
}

.skill-name {
  font-size: var(--small-font);
  font-weight: 600;
  padding: 0.5rem;
  color: var(--dark-blue);
}

/*+++++++++PROJECTS++++++++*/
a {
  color: inherit;
  text-decoration: none;
}

.web-dev-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1rem;
}

.web-dev-title {
  position: relative;
  background: white; /* Background color to "hide" the line behind text */
  padding: 0 1rem; /* Adds spacing so the line doesn't touch text */
  z-index: 1; /* Ensures the text stays above the line */
}

.web-dev-title-container::before {
  content: "";
  position: absolute;
  background: var(--yellow);
  height: 0.1rem;
  width: 100%;
  left: 0;
  top: 50%;
  z-index: 0; /* Places the line behind the text */
}

.portfolio-section{
  text-align: left;
  margin: 0 auto;
  padding: 0 2rem;
}

.portfolio-intro {
  font-weight: 600;
  padding: 0.5rem;
}

.project-card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 0;
  margin-bottom: 2rem;
  max-width: 900px;
}

.project-content {
  flex: 1;
  width: 100%;
  min-width: 300px;
  height: 100%;
  background: var(--light-beige);
  box-shadow: var(--box-shadow), inset 0 4px 0 0 var(--yellow);
  border-radius: 0;
  padding: 2rem;
  overflow: clip;
}

.project-title {
  position: relative;
  width: 100%;
  overflow: clip;
  padding-top: 20px;
  font-weight: 800;
  color: var(--dark-blue);
  margin-bottom: 1rem;
  cursor: default;
}

.highlight {
  font-size: 2rem;
  color: var(--light-yellow);
  font-weight: bold;
}

.tags-container {
  margin: 10px 0;
}

.tag {
  background-color: var(--light-yellow);
  color: #333;
  padding: 5px 10px;
  font-size: var(--small-font);
  border-radius: 5px;
  margin-right: 5px;
}

.project-description {
  color: #333;
  line-height: 1.6;
}

.project-button {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #333;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}

.project-button:hover {
  background-color: var(--light-yellow);
}

.project-image {
  position: relative;
  text-align: right;
  align-self: flex-start;
  border-radius: 4px;
  background-color: transparent;
  overflow: visible;
  transform: translate(-15%, 60px);
  transition: all 0.3s ease;
  /* display: inline-block; */
}

.fly-in-from-right {
  animation: fly-in-from-right linear both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 30%;
}

.cover {
  object-fit: contain;
  width: auto;
  transition: all 0.2s ease-out;
}

.cover:hover {
  transform: translate(-0.5rem, -0.5rem);
  transition: all 0.2s ease-out;
}

.laptop-frame {
  width: 100%;
  display: block;
  height: auto;
}

.image-drop-shadow {
  box-shadow: none;
}

.image-drop-shadow:hover {
  filter: drop-shadow(rgba(211, 164, 24, 0.314) 1rem 1rem 0px);
}

.screenshot {
  position: absolute;
  top: 28%;
  left: 16%;
  width: 67%;
  height: 42%;
  border-radius: 2px;
}

.visit-website-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: var(--dark-blue);
  padding: 0.7rem 1.4rem;
  font-size: var(--small-font);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--dark-blue);
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

/*+++++++++++++Navbar++++++++++++++++*/
/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282c34;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.navbar-logo a {
  font-size: var(--medium-font);
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--sea-water);
    cursor: pointer;
  }
}

/* Menu Items */
.navbar-menu li {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: var(--medium-font);
  transition: color 0.3s ease;
}

.navbar-menu li a:hover,
.navbar-menu li a.active {
  color: var(--sea-water);
  font-weight: bold;
  border-bottom: 2px solid var(--sea-water); /* Optional underline */
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

/* Button Group */
.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.navbar-buttons .btn {
  font-size: var(--medium-font);
  color: white;
  cursor: pointer;

  &:hover {
    color: var(--sea-water);
  }
}

/*++++++++++++FOOTER++++++++++*/

.footer {
  height: 30vh;
  background-color: var(--dark-blue);
  padding: 5rem 0 0 0;
  background-size: cover;
}

.copyright {
  font-weight: lighter;
  color: white;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/*+++++++++++++++RESPONSIVENESS FOR DIFFERENT VIEWPORTS++++++++++++*/

@media only screen and (max-width: 1280px) {
  .App {
    overflow-x: hidden;
  }
  .headline-container {
    width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
  .profile {
    padding: 0.5rem;
  }
  .profile img {
    width: 70%;
  }
  .intro {
    font: var(--regular-font);
  }
  .icon {
    height: 3.5rem;
    width: 3.5rem;
  }

  .navbar-menu {
    display: none; /* Hide menu on smaller screens */
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-menu li {
    margin: 1rem 0;
    text-align: center;
  }

  .navbar-buttons {
    display: none;
  }

  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .section-title {
    font-size: var(--medium-font);
  }

  .side-by-side-sections {
    flex-direction: column;
  }

  .project-card {
    flex-direction: column;
  }

  .project-image {
    flex-basis: 100%;
    transform: unset;
    padding: 0.5rem 1rem;
    min-width: 200px;
    max-width: 260px;
  }

  .screenshot {
    left: 18%;
    width: 64%;
  }
}

@media only screen and (max-width: 480px) {
  .header__text-box {
    width: 40vw;
  }
  .heading-primary {
    text-align: center;
    word-break: break-word;
    hyphens: manual; /* Optional, ensures proper hyphenation with soft hyphens */
  }
  .heading-primary--main1,
  .heading-primary--main2 {
    display: block;
    font-size: 2rem;
    word-wrap: break-word; /* Ensures words break if necessary */
  }
  .heading-primary--sub {
    font-size: 1.3rem;
  }
  .profile img {
    width: 50%;
  }

  .grids-wrapper {
    grid-template-columns: 1fr; /* Stacks cards vertically */
  }

  .grid-card {
    width: 100%; /* Ensures cards take full width in small viewports */
    margin: 0.5rem 0; /* Adds spacing between stacked cards */
  }
}

@media (min-aspect-ratio: 16/9) {
  .profile {
    padding: var(--regular-font);
  }
  .profile img {
    width: 12.5rem;
  }
  .header-primary {
    font-size: 2rem;
  }
  .heading-primary-sub {
    font-size: 1.3rem;
  }
}
